include app/_app
doctype html
html(lang="es")
  head
    +head
    title=titulo[lng]
    meta(name="description" content=descripcion[lng])
  body
    +topbar
    +navigation(false)
  
    #inicio
      .slider
        div: .section: .container: .columns.is-mobile
          .column
            h2.is-size-1 !{slider1_title[lng]}
            p !{slider1_txt[lng]}
            .button.is-3d !{slider1_btn[lng]}
          .column.is-4.is-hidden-mobile
            .has-text-centered
              img(src="app/img/sld1.png")
        div: .section: .container: .columns.is-mobile
          .column
            h2.is-size-1 !{slider1_title[lng]}
            p !{slider1_txt[lng]}
            .button.is-3d !{slider1_btn[lng]}
          .column.is-4.is-hidden-mobile
            .has-text-centered
              img(src="app/img/sld1.png")
      +pleca
    
    section.section#soluciones
      .container
        .columns.is-centered
          .column.is-8.has-text-centered
              h2.is-title !{bienvenidos_title[lng]}
              h3.is-subtitle !{bienvenidos_subtitle[lng]}
              p !{bienvenidos_txt[lng]}
          
        
    section.section#contacto
    
    +footer
    
    +scripts
